Repository njdifiore91/blackpoint-cyber---okta-integration-kkki57, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackpoint/core-team, @blackpoint/backend-team, @blackpoint/security-team, @blackpoint/integration-team, @blackpoint/cli-team, @blackpoint/qa-team, @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/gateway-service.yaml
  src/backend/deploy/kubernetes/gateway-service.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/namespace.yaml
  src/backend/deploy/kubernetes/namespace.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/network-policies.yaml
  src/backend/deploy/kubernetes/network-policies.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/normalizer-deployment.yaml
  src/backend/deploy/kubernetes/normalizer-deployment.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/normalizer-service.yaml
  src/backend/deploy/kubernetes/normalizer-service.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/rbac.yaml
  src/backend/deploy/kubernetes/rbac.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/secrets.yaml
  src/backend/deploy/kubernetes/secrets.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/deploy/kubernetes/storage-class.yaml
  src/backend/deploy/kubernetes/storage-class.yaml
Owners: @blackpoint/devops-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/analyzer/correlation.go
  src/backend/internal/analyzer/correlation.go
Owners: @blackpoint/security-team, @blackpoint/backend-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/analyzer/detection.go
  src/backend/internal/analyzer/detection.go
Owners: @blackpoint/security-team, @blackpoint/backend-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/analyzer/intelligence.go
  src/backend/internal/analyzer/intelligence.go
Owners: @blackpoint/security-team, @blackpoint/backend-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/analyzer/metrics.go
  src/backend/internal/analyzer/metrics.go
Owners: @blackpoint/security-team, @blackpoint/backend-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/auth/jwt.go
  src/backend/internal/auth/jwt.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/auth/oauth.go
  src/backend/internal/auth/oauth.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/auth/rbac.go
  src/backend/internal/auth/rbac.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/collector/batch.go
  src/backend/internal/collector/batch.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/collector/realtime.go
  src/backend/internal/collector/realtime.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/collector/validation.go
  src/backend/internal/collector/validation.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/config/loader.go
  src/backend/internal/config/loader.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/config/validator.go
  src/backend/internal/config/validator.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/encryption/field.go
  src/backend/internal/encryption/field.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/encryption/kms.go
  src/backend/internal/encryption/kms.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/encryption/tls.go
  src/backend/internal/encryption/tls.go
Owners: @blackpoint/security-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/integration/manager.go
  src/backend/internal/integration/manager.go
Owners: @blackpoint/integration-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/integration/registry.go
  src/backend/internal/integration/registry.go
Owners: @blackpoint/integration-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/integration/validator.go
  src/backend/internal/integration/validator.go
Owners: @blackpoint/integration-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/metrics/prometheus.go
  src/backend/internal/metrics/prometheus.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/metrics/telemetry.go
  src/backend/internal/metrics/telemetry.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/normalizer/mapper.go
  src/backend/internal/normalizer/mapper.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/normalizer/processor.go
  src/backend/internal/normalizer/processor.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/normalizer/transformer.go
  src/backend/internal/normalizer/transformer.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/storage/chaossearch.go
  src/backend/internal/storage/chaossearch.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/storage/redis.go
  src/backend/internal/storage/redis.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/storage/s3.go
  src/backend/internal/storage/s3.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/streaming/confluent.go
  src/backend/internal/streaming/confluent.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/streaming/consumer.go
  src/backend/internal/streaming/consumer.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/internal/streaming/producer.go
  src/backend/internal/streaming/producer.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/pkg/bronze/event.go
  src/backend/pkg/bronze/event.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/pkg/bronze/schema.go
  src/backend/pkg/bronze/schema.go
Owners: @blackpoint/core-team

Add public-samples/blackpoint-cyber---okta-integration-kkki57/src/backend/pkg/common/errors.go
  src/backend/pkg/common/errors.go
Owners: @blackpoint/core-team

.github/CODEOWNERS:

* @blackpoint/core-team

# Backend package ownership
/src/backend/pkg/* @blackpoint/backend-team

# Security components ownership
/src/backend/internal/analyzer/* @blackpoint/security-team @blackpoint/backend-team
/src/backend/internal/encryption/* @blackpoint/security-team
/src/backend/internal/auth/* @blackpoint/security-team

# Integration framework ownership
/src/backend/internal/integration/* @blackpoint/integration-team

# CLI tool ownership
/src/cli/* @blackpoint/cli-team

# Test framework ownership
/src/test/* @blackpoint/qa-team

# Infrastructure and deployment ownership
/infrastructure/* @blackpoint/devops-team
.github/workflows/* @blackpoint/devops-team
/src/backend/deploy/kubernetes/* @blackpoint/devops-team
